# docker-compose.yml
version: "3.9"

services:
  api:
    image: eclipse-temurin:17-jre
    container_name: spring-api
    working_dir: /app
    volumes:
      - ./app/app.jar:/app/app.jar:ro
    command: ["java", "-jar", "/app/app.jar"]
    expose:
      - "8080"
    environment:
      - SERVER_PORT=8080
    networks:
      - appnet

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx-proxy
    depends_on:
      - api
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - appnet

networks:
  appnet:
    driver: bridge